@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-gradient-onyx: linear-gradient(to bottom right, hsl(240, 1%, 25%) 3%, hsl(0, 0%, 19%) 97%);
    --bg-gradient-jet: linear-gradient(to bottom right, hsla(240, 1%, 18%, .251) 3%, hsla(240, 2%, 11%, 0) 100%), hsl(240, 2%, 13%);
    --bg-gradient-yellow1: linear-gradient(to bottom right, hsl(45, 100%, 71%) 0%, hsla(36, 100%, 69%, 0) 50%);
    --bg-gradient-yellow2: linear-gradient(135deg, hsla(45, 100%, 71%, .251) 0%, hsla(35, 100%, 68%, 0) 59.86%), hsl(240, 2%, 13%);
    --bg-gradient-purplerose: linear-gradient(135deg, #bc20ab 0%, hsla(0, 100%, 50%, 0.007) 59.86%), hsl(240, 2%, 13%);
    --border-gradient-onyx: linear-gradient(to bottom right, hsl(0, 0%, 25%) 0%, hsla(0, 0%, 25%, 0) 50%);
    --text-gradient-yellow: linear-gradient(to left, hsl(0, 69%, 51%), hsl(180 100% 25.1%));
    --text-gradient-purple: linear-gradient(to left, hsl(221, 100%, 50%), hsl(0, 100%, 50%));

    --icon-gradient-purplerose: linear-gradient(to top right, hsl(271, 100%, 50%), hsl(0, 100%, 64%));

    --jet: hsl(0, 0%, 22%);
    --onyx: hsl(240, 1%, 17%);
    --eerie-black1: hsl(240, 2%, 13%);
    --eerie-black2: hsl(240, 2%, 12%);
    --smoky-black: hsl(0, 0%, 7%);
    --white1: hsl(0, 0%, 100%);
    --white2: hsl(0, 0%, 98%);
    --orange-yellow-crayola: hsl(0, 69%, 51%);
    --vegas-gold: hsl(45, 54%, 58%);
    --light-gray: hsl(0, 0%, 84%);
    --light-gray70: hsla(0, 0%, 84%, .7);
    --bittersweet-shimmer: hsl(0, 43%, 51%);
    --teal: hsl(180 100% 25.1%);
    --crimson: hsl(348 83.3% 47.1%);
    --rose: hsl(0, 100%, 64%);
    
    
    --ff-poppins: 'Poppins', sans-serif;

    --fs1: 24px;
    --fs2: 18px;
    --fs3: 17px;
    --fs4: 16px;
    --fs5: 15px;
    --fs6: 14px;
    --fs7: 13px;
    --fs8: 12px;

    --fw300: 300;
    --fw400: 400;
    --fw500: 500;
    --fw600: 600;

    --shadow1: -4px 8px 24px hsla(0, 0%, 0%, .25);
    --shadow2: 0px 16px 30px hsla(0, 0%, 0%, .25);
    --shadow3: 0px 16px 40px hsla(0, 0%, 0%, .25);
    --shadow4: 0px 25px 50px hsla(0, 0%, 0%, .15);
    --shadow5: 0px 24px 80px hsla(0, 0%, 0%, .25);

    --transition1: .25s ease;
    --transition2: .5s ease-in-out;
}

/*Main page styles*/

html { font-family: var(--ff-poppins); }

body { background: var(--smoky-black); }

main {
    margin: 15px 12px;
    margin-bottom: 75px;
    min-width: 259px;
}

article { display: none; }

    article.active { 
        display: block;
        animation: fade .5s ease backwards;
    }

        @keyframes fade {
            0% { opacity: 0; }
            100% { opacity: 1; }
        }

.h2, .h3, .h4, .h5 { 
    color: var(--white2);
    text-transform: capitalize;
}

    .h2 { font-size: var(--fs1); }
    .h3 { font-size: var(--fs2); }
    .h4 { font-size: var(--fs4); }
    .h5 { 
        font-size: var(--fs7);
        font-weight: var(--fw500); 
    }

/*Topbar styles*/


.topbar.active { max-height: 405px; }

    .article-title {
        display: inline-block;
        position: relative;
        padding-bottom: 7px;
    }
    
        .article-title::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 5px;
            background: var(--icon-gradient-purplerose);
            border-radius: 3px;
        }

        .topbar, .content-box {
            width: 950px; /* Fixed width */
            max-width: 90%; /* Allow scaling down when the window is small */
            margin-left: auto;
            margin-right: auto;
            background: var(--eerie-black2);
            border: 1px solid var(--jet);
            border-radius: 20px;
            box-shadow: var(--shadow1);
            padding: 15px;
        }

        .topbar {
            position: relative;
            max-height: 180px; /* Initial height */
            overflow: hidden;
            transition: max-height 0.5s ease-in-out;
        }

        .topbar.show-contacts {
            max-height: 405px; /* Expanded height */
        }

        /* Contact info button styles */

        .topbar-info-btn {
            position: absolute;
            top: 0;
            right: 0;
            width: 48px;
            height: 48px;
            background: var(--bg-gradient-jet);
            border: var(--bg-gradient-jet);
            border-top-right-radius: 20px;
            border-bottom-left-radius: 20px;
            cursor: pointer;
            z-index: 1;
            display: none;
            box-shadow: var(--shadow1);
        }

        .topbar-info-btn:hover { background: var(--bg-gradient-purplerose); }
        .topbar-info-btn span { display: none;}

        .chevron-icon {
            width: 26px;
            height: 26px;
            margin: 20%;
            background: var(--icon-gradient-purplerose);
            -webkit-mask-image: url('./images/chevron-down.svg');
            mask-image: url('./images/chevron-down.svg');
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-size: contain;
            mask-size: contain;
            
        }

/* Topbar info styles - The text and stuff */

.topbar-info {
    margin-bottom: 15px;
}

    .topbar-info .name { 
        color: var(--white2);
        font-size: var(--fs1);
        font-weight: var(--fw500);
        letter-spacing: -0.25px;
        transition: var(--transition1);
    }

    .topbar-info .title { 
        color: var(--light-gray);
        font-size: var(--fs4);
        font-weight: var(--fw300);
        letter-spacing: -0.25px;
        transition: var(--transition1);
    }

    .topbar-content {
        display: flex;
        align-items: center;
    }

    .avatar-divider {
        height: 50px; /* Divider length */
        width: 2px;
        background-color: var(--jet);
        margin: 0 15px;
    }

    .contact-divider {
        height: 50px; /* Divider length */
        width: 2px;
        background-color: var(--jet);
        margin: 0 15px;
    }

    .contact-pair {
        display: flex;
        align-items: center;
        margin-top: 0px;
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }

        .contact-pair img {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            filter: invert(.75); /* Invert cause I chose black icons >.< */
        }

        .contact-pair p {
            color: var(--white2);
            font-size: var(--fs4);
            transition: var(--transition2);
        }

        /* Icon box styles for contact icons */

        .icon-box {
            width: 20px;
            height: 20px; 
            margin-right: 10px;
            background: var(--icon-gradient-purplerose);
            -webkit-mask-size: cover;
            mask-size: cover;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
        }

    .below-contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    .below-contact-pairs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 50px;
    }

    .below-contact-separator {
        width: 100%; /* Divider length */
        height: 2px;
        background-color: var(--jet);
        margin: 16px;
    }

    .topbar.show-contacts .below-contacts {
        opacity: 1;
    }

    /* Below contact pair transistions */
    .topbar.show-contacts .below-contact-pair:nth-child(1) {
        transition-delay: 0.1s;
        opacity: 1;
    }

    .topbar.show-contacts .below-contact-pair:nth-child(2) {
        transition-delay: 0.2s;
        opacity: 1;
    }

    .topbar.show-contacts .below-contact-pair:nth-child(3) {
        transition-delay: 0.3s;
        opacity: 1;
    }

/* Avatar box styles */

.avatar-box img {
    border-radius: 10%;
    width: 150px;
    transition: var(--transition1);
}

.avatar-box {
    margin-right: 15px;
}

/* Content box styles */

.content-box {
    position: relative;
    top: 5x; /* This controls how far below the topbar the content is */

}

/* Responsive adjustments window scaling */
@media (max-width: 1000px) {
    .avatar-box img {
        width: 100px;
    }
    .avatar-box {
        margin-left: 15px;
    }
    .topbar {
        max-height: 130px;
    }
    .topbar-info .name {
        font-size: calc(var(--fs1) * 0.8);
    }
    .topbar-info .title {
        font-size: calc(var(--fs4) * 0.8);
    }
    .topbar-info-more {
        display: none;
    }
    .topbar-info-btn {
        display: block;
    }
    .contact-divider {
        display: none;
    }
    .chevron-icon {
        margin: 15%;
    }
    
}

@media (max-width: 700px) {
    .below-contact-pairs {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 580px) {
    .topbar {
        max-height: 110px;
    }
    .avatar-box img {
        width: 80px;
    }
    .avatar-divider {
        display: none;
    }
}

@media (min-width: 1000px) {
    .below-contacts {
        display: none;
        opacity: 0;
    }
    
}

/* Functions */

.topbar.show-contacts .below-contacts {
    display: flex;
    opacity: 1;
}